<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191446392057-sdv2it9phkpch00b7a2p7jrvt0avnfek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191446392057-sdv2it9phkpch00b7a2p7jrvt0avnfek</string>
	<key>API_KEY</key>
	<string>AIzaSyDdBA92pto3vqu3sgN2JB8qfiqkVVZlJPc</string>
	<key>GCM_SENDER_ID</key>
	<string>191446392057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.visdevelop.silatscore</string>
	<key>PROJECT_ID</key>
	<string>tanding-scoring</string>
	<key>STORAGE_BUCKET</key>
	<string>tanding-scoring.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191446392057:ios:f659bb2994e8814b90d628</string>
	<key>DATABASE_URL</key>
	<string>https://tanding-scoring-default-rtdb.firebaseio.com</string>
</dict>
</plist>